<div data-lenis-prevent="" fs-scrolldisable-element="when-visible" class="loader_wrapper"><div class="loader_frame is-purple"></div><div class="loader_frame is-red"></div><div class="loader_frame is-orange"></div><div class="loader_frame is-beige"></div></div>
